@model IEnumerable<eManager.Web.Models.Dependent>

@{
    ViewBag.Title = "Page Title";
}

<h2>Index</h2>
<p>Total <span data-bind='text: dependents().length'>&nbsp;</span> dependent(s)</p>

<table>
    <tbody data-bind="template: { name: 'dependentRowTemplate', foreach: dependents }"></tbody>
</table>
 
<script type="text/html" id="dependentRowTemplate">
    <tr>
        <td>Name: <input data-bind="value: Name"/></td>
        <td>Age: <input data-bind="value: Age"/></td>
        <td><a href="#" data-bind="click: function () { $parent.removeDependent($data) }">Delete</a></td>
    </tr>
</script>

<button data-bind="click: addDependent">Add Dependent</button>

<form class="dependentListEditor" data-bind="submit: save">
    <button data-bind="enable: dependents().length > 0" type="submit">Submit</button>
</form>

<script type="text/javascript">
    $.getJSON('/Dependent/GetDependents', function (data) {
        var viewModel = {
            dependents: ko.observableArray(data),
            removed: ko.observableArray(null),
            addDependent: function () {
                this.dependents.push({ Name: "", Age: "" });
            },
            removeDependent: function (dependent) {
                this.dependents.remove(dependent);
                this.removed.push({ Name: dependent.Name, Age: dependent.Age });
            },
            save: function () {
                ko.utils.postJson(location.href, { dependents: this.dependents, removed: this.removed });
            }
        };

        $(document).ready(function () {
            ko.applyBindings(viewModel);
        });
    });
</script>