
@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administration</h2>

<h4>Send message to all connected clients </h4>
<div class="container">
    <input type="text" id="message" style="width:300px;"  />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
</div>