@{
    ViewBag.Title = "Department Layout";
}

<style type='text/css'>
    svg {
      font: 10px sans-serif;
      shape-rendering: crispEdges;
    }

    rect {
      fill: #ddd;
    }

    .axis path, .axis line {
      fill: none;
      stroke: #ddd;
    }

    body {
        border-top: 0px;
    }
</style>

<h2>Department Layout</h2> 

<div style="height:auto" id="container"/>

<script type='text/javascript'>
    $(document).ready(function () {
        $.getJSON("/Department/GetLayout", null, function (jsonData) {
        var margin = { top: 0, right: 0, bottom: 12, left: 24 },
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        var x = d3.scale.linear()
            .domain([-width / 2, width / 2])
            .range([0, width]);

        var y = d3.scale.linear()
            .domain([-height / 2, height / 2])
            .range([height, 0]);

        var svg = d3.select("#container").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            .call(d3.behavior.zoom().scaleExtent([1, 8]).on("zoom", zoom))
            .append("g");

        var boxes = svg.selectAll("rect")
            .data(jsonData)
            .enter()
            .append("rect");
        var rectangle = boxes
            .attr("x", function (d) { return d.X; })
            .attr("y", function (d) { return d.Y; })
            .attr("width", function (d) { return d.Width; })
            .attr("height", function (d) { return d.Height; })
            .style("fill", '#ADD8E6')

        var text = svg.selectAll("foreignObject")
            .data(jsonData)
            .enter()
            .append("foreignObject");

        var textLabels = text
            .attr("x", function (d) { return d.X + 10; })
            .attr("y", function (d) { return d.Y + 10; })
            .attr('width', 100)
            .attr('height', 100)
            .attr("font-family", "sans-serif")
            .attr("color", "white")
            .attr("font-size", "12px")
            .attr("font-weight", "bold")
            .append("xhtml:div")
            .html(function (d, i) { return "<div><a href=\Detail/" + d.Id + "\>" + d.Name + " - " + d.EmployeeCount + "</a></div>"; });

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.svg.axis().scale(x).tickSize(-height).orient("bottom"));

        svg.append("g")
            .attr("class", "y axis")
            .call(d3.svg.axis().scale(y).ticks(5).tickSize(-width).orient("left"));

        function zoom() {
            svg.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
            }
        });
    });
</script>