@model eManager.Domain.Employee
@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modelLabel">Manage Dependents</h4>
    </div>
    <div class="modal-body">
        <p>Total <span data-bind='text: dependents().length'>&nbsp;</span> dependent(s)</p>

        <table class="table">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Relation</th>
            </tr>
            <tbody data-bind="template: { name: 'dependentRowTemplate', foreach: dependents }"></tbody>
        </table>

        <script type="text/html" id="dependentRowTemplate">
            <tr>
                <td><input class="form-control" data-bind="value: Name" /></td>
                <td><input class="form-control" data-bind="value: Age" /></td>
                <td>
                    <select class="form-control" data-bind="value: Relation">
                        <option value="0">Parents</option>
                        <option value="1">Spouce</option>
                        <option value="2">Children</option>
                    </select>
                </td>
                <td><a href="#" class="btn btn-danger" data-bind="click: function () { $parent.removeDependent($data) }">Delete</a></td>
            </tr>
        </script>

        <button class="btn btn-primary" data-bind="click: addDependent">Add Dependent</button>


        <script type="text/javascript">
            $.getJSON('/Employee/GetDependents?Id=@Model.Id', function (data) {
                var viewModel = {
                    dependents: ko.observableArray(data),
                    removed: ko.observableArray(null),
                    addDependent: function () {
                        this.dependents.push({ Name: "", Age: "", EmployeeID: "@Model.Id", Relation: "" });
                    },
                    removeDependent: function (dependent) {
                        this.dependents.remove(dependent);
                        this.removed.push({ Name: dependent.Name, Age: dependent.Age });
                    },
                    save: function () {
                        ko.utils.postJson(location.href, { dependents: this.dependents, removed: this.removed });
                    }
                };

                $(document).ready(function () {
                    ko.applyBindings(viewModel);
                });
            });
        </script>
    </div>
    <div class="modal-footer">
        <form class="dependentListEditor" data-bind="submit: save">
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            <button class="btn btn-success" data-bind="enable: dependents().length > 0" type="submit">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
